body{
  background-color: violet;
}
h1{
  color:pink;
  text-align: center;
  font-family:sans-serif;
  font-family:sans-serif;
}
.box{
  width:350px;
  height:350px;
  background-color: blue;
  border-radius:15px;
}
